* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bariol, sans-serif;
    font-weight: 400;
}

.container {
    width: 970px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    outline: 1px solid #fff;
}

.main-header {
    background-color: #f56262;
    position: relative;
}

.main-header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 121px;
    background-image: url(./images/header-icon.png);
    background-repeat: no-repeat;
}

.header-inner {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-list {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-left: 22px;
}

.menu-link {
    display: block;
    padding: 7px 12px;
    font-size: 16px;
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.3s;
}
  
.menu-link.active,
.menu-link:hover {
    background-color: #232324;
}

.welcome {
    background-color: #eb4f4e;
}

.welcome-inner {
    text-align: center;
    padding-top: 50px;
    color: #fff;
    padding-bottom: 23px;
    position: relative;
}

.welcome-arrow {
    position: absolute;
    width: 38px;
    height: 72px;
    top: 50%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    transform: translateY(-50%);
}

.welcome-prev {
    left: -147px;
    background-image: url(./images/welcome-prev.png);
}

.welcome-next {
    right: -147px;
    background-image: url(./images/welcome-next.png);
}

.welcome-slider {
    list-style: none;
}

.welcome-inner h1 {
    font-size: 60px;
    margin-bottom: 11px;
}

.welcome-inner p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}

.smart-creative {
    background-color: #232324;
}

.smart-creative-inner {
   text-align: center; 
   padding-top: 38px;
   padding-bottom: 23px;
}

.smart-creative-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 9px;
}

.smart-creative-description {
    font-size: 20px;
    color: #d94948;
    margin-bottom: 38px;
}

.smart-creative-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
}

.smart-creative-item {
    width: 250px;
}

.smart-creative-item img {
    margin-bottom: 15px;
}

.smart-creative-item h3 {
    font-size: 30px;
    color: #fff;
    line-height: 24px;
    margin-bottom: 5px;
}

.smart-creative-item p {
    font-size: 18px;
    color: #e74c3c;
    line-height: 21px;
}

.talented {
    background-color: #6cc372;
}

.talented-inner {
    text-align: center;
    padding-top: 37px;
    padding-bottom: 25px;
}

.talented-title {
    font-size: 40px;
    color: #fff;
    margin-bottom: 9px;
}

.talanted-description {
    font-size: 20px;
    color: #232324;
    margin-bottom: 35px;
    line-height: 24px;
}

.talented-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.talented-item {
    width: 226px;
    background-color: #fff;
    padding: 25px 10px 12px;
    border-radius: 5px;
}
  

.talented-img-wrapper {
    margin-bottom: 18px;
    border-radius: 50%;
    border: 10px solid #6cc372;
    width: 164px;
    height: 164px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
}

.talented-img-wrapper::before {
    content: "";
    width: 117px;
    height: 122px;
    background-image: url(./images/highlight.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.talented-img {
    display: block;
}
  

.talented-name {
    margin-bottom: 10px;
    font-size: 24px;
    color: #61af66;
}

.talented-position {
    margin-bottom: 21px;
    font-size: 18px;
    color: #e74c3c;
}

.talented-link {
    display: block;
    width: 100%;
    background-color: #6cc372;
    text-align: left;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    padding: 9px 0 9px 65px;
    line-height: 25px;
    background-image: url(./images/twitter-icon.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    border-radius: 3px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.3);
}
  

.elegant {
    background-color: #f0f0f0;
}

.elegant-inner {
    height: 557px;
}

.tarife {
    background-color: #fff;
}

.tarife-inner {
    height: 373px;
}

.tweets {
    background-color: #eb4f4e;
}

.tweets-inner {
    height: 275px;
}

.copyright {
    background-color: #232324;
}

.copyright-inner {
    height: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright-inner p {
    color: #fff;
    font-size: 18px;
    line-height: 32px;
}

.copyright-link {
    color: #eb4f4e;
    text-decoration: none;
}

.social-list {
    display: flex;
    list-style: none;
}

.social-item {
    margin-left: 8px;
}

.contacts {
    position: relative;
}

.contacts-inner {
    width: 615px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0, 0.75);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    text-align: center;
    color: #eb4f4e;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 44px;
}

.contacts-inner h3 {
    font-size: 30px;
    color: #fff;
    margin-bottom: 5px;
}
  
.contacts-inner p {
    font-size: 20px;
}
